body {
	background: #6D1A1B;
}

div.songbook-play-button a.play {
	color: #6D1A1B;
}

div.songbook-play-button a.play span.symbol {
	border-color: transparent transparent transparent #6D1A1B;
}


div.book-footer {
	background: #6D1A1B;
}

ul.songbook-music-part-list li.selected {
	color: #6D1A1B;
}

div.samba7-menu {
	background-color: #4F1314;
	background: rgba(76,18,19, 0.9);
}

div.window-title-bar {
	background-color: #2C0A0B !important;
}
